---
import path from 'path';
import fs from 'fs/promises';
import Layout from '../layouts/Layout.astro';
import { KaraokeContainer } from '../components/KaraokeContainer';
import { getToken} from "../store/auth";

const token = await getToken()

if(!token || !token?.access_token || Date.now() >= token?.expiration_date) {
	return Astro.redirect('/auth/login');
}
---

<Layout title="Welcome to Astro.">
	<main>
		<KaraokeContainer client:visible />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
