---
import path from 'path';
import fs from 'fs/promises';
import Layout from '../layouts/Layout.astro';
import { KaraokeContainer } from '../components/KaraokeContainer';
import { SPOTIFY_TOKEN_COOKIE_NAME} from "../store/auth";

if (!Astro.cookies.has(SPOTIFY_TOKEN_COOKIE_NAME)) {
	return Astro.redirect('/login');
}
---

<Layout title="Offerfeest 2024">
	<main>
		<KaraokeContainer client:visible />
	</main>
</Layout>

