---
import path from 'path';
import fs from 'fs/promises';
import Layout from '../layouts/Layout.astro';
import { Karaoke } from '../components/Karaoke';
import {parseLyric} from "../utils/karaoke";

const lyricFileData = await fs.readFile(path.join(process.cwd(), 'data/testfile.lrc'), 'utf-8');

const lyric = parseLyric(lyricFileData);

---

<Layout title="Welcome to Astro.">
	<main>
		<Karaoke lyric={lyric} client:visible />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.line {

	}
</style>
